.navbar {
   position: fixed;
   width: 100%;
   height: 56px;
   left: 0px;
   top: 0px;
   background: #FFFFFF;
   z-index: 1000;
}
.navbar_logo{
    position: absolute;
    left: 5%;
    right: 2%;
    top: 32.56%;
    bottom: 0%;
    color: #C50005;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 113%;
}
.navbar_plus{
    position: absolute;
    left: 4.6%;
    right: 0%;
    top: 10%;
    bottom: 10.67%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;

    color: #E21217;
}
.navflex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
   left: 56.5%;
   right: 1.5%;
    top: 30.42%;
    bottom: 32.08%;
}
.navflex div{
    position: static;
    width: 137px;
    height: 21px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    
    /* identical to box height */

     text-align: center;

    color: #17295E;
}
.vector{
     position: static;
     /* width: 137px;
     height: 21px; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
    /* line-height: 21px; */

     /* identical to box height */

     text-align: center;

     color: #17295E;
}
.reg{
    color: #17295E;
}
:hover > .reg{
    color: #ED2025;


}
.detailreg{
    display: none;
     color: #17295E;
}
.reg:hover > .detailreg{
    display: block;
}
.detailreg1{
    color: #17295E;
}

:hover>.detailreg1 {
    color: #ED2025;

}

.detailreg2 {
    color: #17295E;
}
:hover>.detailreg2 {
    color: #ED2025;


}
.btnpledge{
    /* position: absolute;
    left: 85%;
    right: 4.44%;
    top: 20%;
    bottom: 20%; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    
 
    background: #ED2025;
    border-radius: 8px;
}
.lang{
    position: absolute;
    left: 55%;
    right: 0.81%;
    top: 31.67%;
    bottom: 30.83%;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #17295E;

}
.line{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: 0%;

    border: 1px solid #36487D;

}

