.land_video{
    width: 95%;
    
    margin-top: 5%;
    border-radius: 12px;
}

.land_activity{
    display: grid;
    grid-template-columns: 85% 9%;
    margin-left: 5%;
    margin-top: 2%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 111.3%;
    /* or 24px */


    color: #40457A;
}
.activities{
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
}
.activities img{
    width: 250%;
    height: 13vw;
    border-radius: 12px;
}
.activities div{
    width: 235%;
    height: 2vw;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 111.3%;
    /* or 18px */
    color: #17295E;

}
.activities button{
    width: 70%;
    height: 26px;

    background: #40457A;
    border-radius: 5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 111.3%;
    /* or 13px */


    color: #FFFFFF;

}
.activities_grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 3%;
    margin-left: 4%;
    margin-right: 5%;
}
.heros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;
    
    /* height: 10vw; */
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    background-color: #FFFFFF;
    border-radius: 5%;
    box-shadow: 2px 2px 10px rgba(214, 210, 255, 0.65);
}
.heros img{
   width: 65%;
   height: 8 vw;
   margin: 9%;
   border-radius: 16px;

}
.hero_cont{
     margin-top: 15%;
     margin-left: -15%;
     margin-right: 15%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 138%;
    /* or 19px */


    color: #17295E;
}
.hero_contents{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
}
.heros button{
    width: 35%;
    height: 1 vw;
    margin-top: 5%;
    
    border: 1px solid #17295E;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 111.3%;
    /* or 13px */


    color: #17295E;
}
.articles_grid{
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
     grid-gap: 1%;
     margin-left: 4%;
     margin-top: 1%;
     margin-right: 3%;
}
.article{
    width: 75%;
    margin: 3%;
    height: 20vw;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px #DFDFDF;
    border-radius: 16px
}
.article img{
    margin: 6%;
}
.article div{
    margin: 4%;
}
.article_head{
    display: grid;
    grid-template-columns: auto auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */


    color: #423C43;
}
.article_head1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 22px;
    /* identical to box height */


    color: #423C43;
}
.article_head2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 30px;
    /* identical to box height */


    color: #423C43;
}
.article_content{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
   width: 65%;
   font-weight: normal;
   font-size: 0.97rem;
    line-height: 21px;
   
    color: #423C43;
}
