.foot{
    /* position: absolute; */
    width: 100%;
    height: 352px;
    left: 0px;
    top: 0px;
    margin-top: 20px;
   
background-color: #091B73;

}
.footer_grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 40% 40%;
    grid-gap: 10px;
    padding: 1px;
    margin-top: 10%;
    margin-left: 10%;
}
.footer_grid .footer_head{
    margin-top: 20%;
    color:#FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 23px;
 ;
}
.footer_grid .footer_plus_logo{
    margin-left: -18%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 28px;

    color: #FFFFFF;
}
.footer_sub_deta{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 26px;
    color: #FFFFFF;
}
.footer_sub_grid1{
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 15% 15% 15% 15%;
    grid-gap: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 250%;
    


    color: #FFFFFF;
}
.footer_sub_grid2{
     display: grid;
     grid-template-columns: 70%;
     grid-template-rows: 45% 15%;
     grid-gap: 10px;

     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 0.875rem;
     line-height: 150%;



     color: #FFFFFF;
}
.footer_sub_log img{
    margin-right: 5%;
}