.cbdd1{
    margin-left: 4%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #17295E;
    margin-bottom: 5%;
}
.cbdd2{
    padding-left: 7%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #596896;
}
.cbddbt1{
   
    width:13%;
    text-align: center;
    color: white;
    background-color: #17295E;
    font-size: 1.625rem;
    padding:17px;
    border-radius: 8px;
    margin-left: 36%;
    margin-right: 4%;


}
.cbddbt2{
   
    width:13%;
    text-align: center;
    color:#17295E;
    background-color:white;
    font-size: 1.625rem;
    padding:17px;
    border-radius: 8px;

}
.cbdd9{
    display: flex;
    float: left;
    padding: 2%;
    border-radius: 5px;
    margin-left: 8%;
    max-width: 10%;
    max-height: 40px;
    font-size: 1.25rem;
    text-align: center;
    background-color: #17295E;
    color: white;
}
.cbdd10{
    display: flex;
    float: left;
    padding: 2%;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 8%;
    max-width: 14%;
    max-height: 40px;
    font-size: 1.25rem;
    text-align: center;
    background-color: #17295E;
    color: white;

}
.cbdd11{
    
    
  background: #E3E8FF;
  width:80%;
  margin-left: 8%;
  margin-right: 3%;
  height: 37.5pt;
  font-size: 1.25rem;
  
  font-style: normal;
  font-weight: normal;
  margin-top: 1%;
  margin-bottom: 5%;
 border-bottom: 1px solid #DAE0FF;
 border-top: none;
 border-left: none;
 border-right: none;
 color: #17295E;
 pointer-events: none;       
}
