body {
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    font-family: Poppins;
font-style: normal;
    margin-top: 12%;
    /* border: 1px solid
    black; */
     background-color:  #F9FAFF; 
    font-family: poppins;
    border-radius: 18px;
}

.heading{
    position: absolute;
width: 100vw;
height: 36px;
top: 100px;
/* border: 1px solid black; */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
border-bottom: 1px solid #91ADFF;/* text-align: center; */

color: #2C3F76;

}
.heading > * {
    margin-left: 12vw;
}
.upper{
    /* position: absolute; */
width: 80vw;
margin: auto;
margin-top: 5%;
height: 62px;
/* left: 100px;
top: 240px; */
/* margin-left: 9%; */
background: #2C3F76;
border-radius: 18px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
} 
.gov{
    margin-right: 20%;
}
hr{
    position: absolute;
width: 100vw;
height: 0px;
border: 1px solid #91ADFF;
}
.form{
     width: 84vw;
     height: 800px;
    /* margin: auto; */
    /* border: 1px solid black;  */
    margin-top: 6%;
    margin-bottom: 6%;
    font-family: poppins;
    font-size: 20px;
}
 

.group{
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 1px solid black; */
} 
/* .group > * {
    border: 1px solid goldenrod;
    width: 90%;
    margin: auto;
} */
.formGroup{
    margin-bottom: 1em;
    transition: all .3s;
}

.formLabel{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 30px;
    color: #596896;
    display: block;
    opacity: 1;
    transform: translateY(-1.25em);
    transform-origin: 0 0;
    transition: all .3s;
}

.formControl{
    box-shadow: none;
   
    border-radius: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    text-align: start;
    background-color: #F9FAFF;
    color: #17295E;
    border-color:  #ccc;
    border-style: none none solid none;
    width: 80%;
    transition: all .5s;
    /* padding: 5px; */
}
.formControl::placeholder{
    color: transparent;
}
.formControl:focus{
    box-shadow:none;
    outline: none;
    border-color: #17295E;

}
.formControl:focus+ .formLabel,
.formControl:not(:placeholder-shown) + .formLabel
{
    transform: translateY(-2.5em)scale(.8);
}


.box1{
    width: 200px;
   /* border: 2px solid black; */
   height: 50px;
}
.box2{
    width: 400px;
    /* border: 2px solid black;
    background-color: red; */
    height: 50px;
    margin-left: 35%;
    display: flex;
    /* justify-content: space-between; */

}

.typeBox{
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid black; */
    margin: auto;
    width: 99%;
    margin-top: 5%;
    color: #596896;
}
.hospitalBox{
    width: 80%;
    margin: auto;
    margin-left: 12vw;
    /* border: 4px solid red; */
}
.buttonDiv{
    display: flex;
    align-items: center;
}
.button{
    /* position: absolute; */
width: 400px;
height: 70px;

display: inline-flex;
color: white;
justify-content: center;
align-items: center;
background: #485271;
border-radius: 8px;
margin: auto;
}



