.organ-avail-head{
    width: 90%;
    height: 4vw;
    margin-left: 5%;
    margin-top: 5%;

    background: #F9FAFF;
    border-radius: 18px;
}
.organ-avail-head h4{
    width: 20%;
    height: 2vw;
    margin-left: 10%;
    

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #2C3F76;
}
.organ-avail-line {
    width: 100%;
    height: 0px;
    left: 100px;
    top: 210px;

    border: 1px solid #91ADFF;

}
.data-search{
        margin: auto;
        width: 45%;
        margin-top: 2%;
        
        height: 3vw;
    

        background: #F3F5FF;
        border-radius: 13px;
}
.data-search select{
    width: 50%;
    height: 2vw;
    margin: auto;
    border: none;
    background-color:#F3F5FF;
    align-items: center;
    margin-left: 4%;
    margin-top: 1.5%;
}
 .btn-sear{
    width: 5%;
    height: 2vw;
    margin-left: 2%;

    background: #2C3F76;
    border-radius: 8px;
}

 .btn-filt{
    width: 25%;
    height: 2vw;
    margin-left: 2%;
    border: none;
    background-color:#F3F5FF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    

    color: #253775;
}
.filter-comp{
        display: grid;
        grid-template-columns: 10% 10%;
        grid-template-rows: 60% 60%;
        grid-gap: 5%;
        /* margin: auto; */
        margin-left: 30%;
        margin-top: 1%;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 111.3%;
        /* identical to box height, or 20px */


        color: #2C3F76;

}
.filter-comp select{
    width: 70%;
    height: 1.5vw;
    background: #F3F5FF;
    border-radius: 10px;
    /* text-align: center; */
    border: none;
}


.thead {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    height: 54px;
    flex-grow: 1;
   
    background: #253775;
    border-radius: 8px;
}
.thead h4{
    width: 30%;
    height: 2vw;
    margin-left: 1%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;

}
/* .thead > * {
    flex-grow: 1;
    border: 1px solid black;
} */
.trow {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    height: 10vw;
    

    background: #F3F5FF;
    border-radius: 16px;
}
.trow p{
    width: 25%;
    height: 2vw;
    margin-left: 1%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* text-align: center; */

    color: #253775;
}
/* .trow > * {
    flex-grow: 1;
    border: 1px solid black;
} */